# Force LF for all text files (this is a Linux/Docker project)
* text eol=lf

# Binary files - don't modify
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.zip binary
*.tar binary
*.tar.gz binary
*.tgz binary
*.gz binary
*.bz2 binary
*.xz binary
*.7z binary
*.pdf binary
*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.class binary
*.jar binary
*.war binary
*.ear binary
