name: workspace

services:
  workspace:
    image: workspace:latest
    build:
      context: .
    environment:
      - MAIN_USER=dtaas-user
    ports:
      - "8080:8080"
    shm_size: 512m
    volumes:
      - ./persistent_dir/user1:/workspace
      - ./persistent_dir/common:/workspace/common
    develop:
      watch:
        - path: .
          action: rebuild
